<div class="container py-5 mt-3">
    <div class="row">
        <div class="col d-flex mr-auto">

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary" (click)="saveAll()" (click)="myProfile.saveProfileData()"
                    (click)="myCharacteristics.saveStatus()" (click)="mySkillList.saveSkillData()"
                    (click)="myBackstory.saveBackstorys()">
                    Save
                </button>
                <div class="btn-group mr-2" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <div class="row" style="margin:0 15px;">
                            <input type="text" [(ngModel)]="addNewCHcardData">
                            <button type="button" class="btn btn-primary btn-sm d-flex ml-auto mt-2" (click)="addNewCHcard()">
                                Save As
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#loadChCard">
                Load
            </button>
            <div class="d-flex justify-content-center align-items-center">
                角色卡名稱：<div class="h5 mr-3 mb-0">{{CHcard}}</div>
            </div>
        </div>

        <div class="col-2">
            <mutildice class="d-flex justify-content-end"></mutildice>
        </div>

    </div>


    <div class="text-center my-5">
        <img src="../../assets/coc-font.svg" alt="">
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="row">
                <div class="col-3">
                    <profile #myProfile [CHcard]="CHcard"></profile>
                </div>
                <div class="col-9">
                    <characteristics #myCharacteristics [CHcard]="CHcard"></characteristics>
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-primary mr-2" (click)="saveAll()" (click)="myProfile.saveProfileData()"
        (click)="myCharacteristics.saveStatus()" (click)="mySkillList.saveSkillData()"
        (click)="myBackstory.saveBackstorys()">
        Save All
    </button>
    <button type="button" class="btn btn-primary mr-2" (click)="myProfile.getProfileData()"
        (click)="myCharacteristics.getStatus()" (click)="mySkillList.getSkillData()"
        (click)="myBackstory.getBackstorys()">
        Load All
    </button>

    <skill-list #mySkillList [CHcard]="CHcard"></skill-list>
    <backstory #myBackstory [CHcard]="CHcard"></backstory>
    <div class="col d-flex mr-auto mb-3">
        <button type="button" class="btn btn-primary mr-2" (click)="saveAll()" (click)="myProfile.saveProfileData()"
            (click)="myCharacteristics.saveStatusItem()" (click)="myCharacteristics.saveStatusSubItems()"
            (click)="mySkillList.saveSkillData()" (click)="myBackstory.saveBackstorys()">
            Save All
        </button>
        <button type="button" class="btn btn-primary mr-2" (click)="myProfile.getProfileData()"
            (click)="myCharacteristics.getStatus()" (click)="mySkillList.getSkillData()"
            (click)="myBackstory.getBackstorys()">
            Load All
        </button>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="loadChCard" tabindex="-1" role="dialog" aria-labelledby="loadChCardLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mt-2">
                <p class="text-center h5">請選擇角色卡</p>
                <div *ngFor="let c of chCardBox" class=" d-flex justify-content-center  align-items-center">
                    <input type="radio" name="c" value="c" class="mx-1" (click)="chooseCard(c)">{{c}}<br />
                </div>
                <button type="button" class="btn btn-primary d-flex mx-auto mt-3"  data-dismiss="modal" aria-label="Close" (click)="myProfile.getProfileData()"
                    (click)="myCharacteristics.getStatus()" (click)="mySkillList.getSkillData()"
                    (click)="myBackstory.getBackstorys()">Load</button>
            </div>
        </div>
    </div>
</div>