  $primary: #614f2f; //$blue !default;
  $primaryLight: lighten($primary, 65%);

  .skill-list>div {
      width: 22%;
  }

  .skill-list {
      height: 1100px;
  }

  .searchSkills {
      background-color: $primaryLight;
  }

  .skillContent {
      border: 20px solid transparent;
      // padding: 15px;
      -webkit-border-image: url(../../../assets/689426.png) 200 round;
      /* Safari 3.1-5 */
      -o-border-image: url(../../../assets/689426.png) 200 round;
      /* Opera 11-12.1 */
      border-image: url(../../../assets/689426.png) 200 round;
  }