<div class="row d-flex  align-items-center skill-group">
    <div class="col-2">
        <div class="row">
            <div class="col skillTypePoint d-flex justify-content-center align-items-center">
                <input type="checkbox" name="skill.skillName" value="carrer" 
                [checked]="skill.carrerChecked" (change)="skill.carrerChecked = !skill.carrerChecked"  (change)="changeCarrerPoint()">
                <span class="checkbox">職</span><br>
            </div>
        </div>
        <div class="row">
            <div class="col skillTypePoint d-flex justify-content-center align-items-center">
                <input type="checkbox" name="skill.skillName" value="hobby"
                 [checked]="skill.hobbyChecked"  (change)="skill.hobbyChecked = !skill.hobbyChecked"  (change)="changeHobbyPoint()">
                <span class="checkbox">興</span><br>
            </div>
        </div>
    </div>
    <div class="col-8 d-flex skill align-items-center px-0">
        <label class="mr-2 mb-0 text-center d-flex justify-content-center">{{ skill.skillName }}</label>
        <input type="number" id="skillValue" name="skill.skillName" class="form-control" [(ngModel)]="skill.value"  (change)="changeCarrerPoint()"  (change)="changeHobbyPoint()">
        <span class="ml-1">%</span>
    </div>
    <dicehundred class="col-2 pl-0" [skillDice]="skill"></dicehundred>
</div>