<h3 class="text-center mt-4">{{title}}</h3>

<div class="border border-secondary rounded p-3 my-2">
    <div class="d-flex">
        <p class="mr-5">職業點數：{{skillTypePoint.careerPoint}}</p>
        <p class="mr-5">興趣點數：{{skillTypePoint.hobbyPoint}}</p>
        <p class="mr-5">職業已配點數：{{carrerTotal}}</p>
        <p class="mr-5">興趣已配點數：{{hobbyTotal}}</p>


    </div>
    <div class="skill-list d-flex flex-column flex-wrap">
        <div *ngFor="let s of skills" class="mb-2">
            <skills [skill]="s" class="d-flex"
             (click)="amoutOfaddpoint()" (click)="getSkillTotal()"></skills>
        </div>
    </div>
</div>