<div class="row">
    <div class="col-9">
        <h3 class="text-center">{{title}}</h3>
        <div class="border border-secondary rounded p-3">
            <div class="row d-flex">
                <div *ngFor="let i of items;let index = index;" class="col-4 mb-2 d-flex">
                    <!-- <statusItem [item]="i" class=""></statusItem> -->
                    <label class="mr-2">{{ i.status | uppercase}}</label>
                    <input type="number" class="form-control" [id]="i.status" [name]="i.status" [value]="i.value"
                        [(ngModel)]="i.value">
                </div>
<!--                 <button type="button" class="btn btn-primary mr-2" (click)="saveStatusItem()">Save</button>
                <button type="button" class="btn btn-primary" (click)="getStatusItem()">Load</button> -->
            </div>
        </div>
    </div>
    <div class="col-3">
        <h3 class="text-center">Headshot</h3>
        <headshot></headshot>
    </div>
</div>

<div class="border border-secondary rounded p-3">
    <div class="row d-flex">
        <div *ngFor="let i of subItems" class="col-4 mb-2 d-flex">
            <label class="mr-2">{{i.status| uppercase}}</label>
            <input type="number" class="form-control" [value]="i.value">
        </div>
    </div>
</div>



