$primary: #614f2f; //$blue !default;
$primaryLight: lighten($primary, 65%);

.mutidice {
  //  background-color: #fff;
  height: 100px;
  font-size: 60px;
}


.customDiceNum {
  width: 45px;
  background-color: $primaryLight;

}