.input-group input {
    font-size: 14px;
    height: 35px;
}

.input-group button {
    font-size: 14px;
    height: 35px;
}

.hesdshot {
    //    position: absolute;
    //    content: "";
    //    border-left: 1px solid #6c757d;
    // border-bottom: 1px solid #6c757d;
    margin-left: -1rem;
    padding-left: 1rem;
}

.headshot-img {
    border: 20px solid transparent;
    padding: 0;
    -webkit-border-image: url(../../../assets/689426.png) 200 round;
    /* Safari 3.1-5 */
    -o-border-image: url(../../../assets/689426.png) 200 round;
    /* Opera 11-12.1 */
    border-image: url(../../../assets/689426.png) 200 round;
}

.headshot-img img {
    width: 124%;
    height: 160px;
    object-fit: cover;
    //  position: absolute;
    margin: -12%;
}